@{
    ViewBag.Title = "Departamentos";
}
<div class="container">
    <h2>
        Subdirección de Planeación y Vinculación</h2>
    <p class="big grey">
        Intituto Tecnol&oacute;gico de Chihuahua II.</p>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <!-- Resume starts -->
            <div class="resume">
                <div class="row">
                    <div class="col-md-12">
                        
                        <p style="font-weight: bolder">
                         Los departamentos adscritos de esta subdirección son los siguientes:
                        </p>
                        <br />
                        <ul>
                        <li><a href="@Url.Action("ServiciosEscolares","Departamentos")">Servicios Escolares</a></li>
                        <li><a href="@Url.Action("ActividadesExtraescolares","Departamentos")">Actividades Extraescolares</a></li>
                        <li><a href="@Url.Action("CentroInformacion","Departamentos")">Centro de Informaci&oacute;n</a></li>
                        <li><a href="@Url.Action("ComunicacionYDifusion","Departamentos")">Comunicaci&oacute;n y Difusi&oacute;n</a></li>
                        <li><a href="@Url.Action("GestionTecnologicaVinculacion","Departamentos")">Gesti&oacute;n Tecnol&oacute;gica y Vinculaci&oacute;n</a></li>
                        <li><a href="@Url.Action("PlaneacionProgramYPresup","Departamentos")">Planeaci&oacute;n Programaci&oacute;n y Presupuestaci&oacute;n</a></li>
                        </ul>                                            
                        <br /><br />

                        <p style="font-weight: bolder">
                        Algunas de las actividades de esta Subdirección son las siguientes:
                        </p>
                        <br />    
                        <p>
                        Planea, organiza, dirige, controla y evalúa las actividades de planeación, programación, evaluación presupuestal, servicios escolares, extensión y vinculación con el sector productivo de conformidad con la normatividad vigente.
                        </p>
                        <br />                         
                        <p>
                        Coordina y supervisa la elaboración de planes de desarrollo institutucional y de las estrategias a seguir para su ejecución.
                        </p>
                        <br />
                        <p>
                        Coordina las evaluaciones programatica – presupuestal y del instituto tecnológico de conformidad con las normas aplicables.
                        </p>
                        <br />
                        <p>
                        Promueve las actividades de extensión educativa, gestión educativa, gestión tecnológica y vinculación con el sector productivo.
                        </p>                        
                        <br />
                        <p>
                        Coordina las acciones de comunicación y difusión del instituto tecnológico de acuerdo a los procedimientos establecidos.
                        </p>
                        <br />
                        <p>
                        Dirige y controla la prestación de los servicios medicos, otorgamiento de becas, regimen facultativo del seguro social, bolsa de trajo y orientación educativa del instituto tecnolgico.
                        </p>
                        <br />
                        <p>
                        Dirige y controla las inscripciones, reincripciones, cambios, traslados, acreditaciones, regularizaciones, certificación y titulación de los alumnos del instituto tecnológico.
                        </p>
                        <br />
                        <p>
                        Coordina y supervisa el funcionamiento del Centro de Información del instituto tecnológico.
                        </p>
                        <br />
                        <hr />
                        <!-- Resume -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Subdirección Académica/ -->
                                <div class="rblock">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4>
                                                Contacto</h4>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="rinfo">
                                                <h5>
                                                    L.A. Carlos Javier Telumbre Alvarado</h5>
                                                <div class="rmeta">
                                                    <h6>Subdirector de Planeación y Vinculación</h6></div>
                                                <p>
                                                    La Subdirección de Planeación y Vinculación se encuentra localizada en la planta alta del edificio administrativo
                                                    <br />
                                                    El acceso es por la Av. de las Industrias. <br />
                                                    Si desea comunicarse por teléfono, marque directamente: (01-614) 4-42-50-03.<br />
                                                    A través de conmutador: (01-614) 4-42-50-00 ext. 103</p>
                                                <!-- Social media icons -->
                                                <div class="social">
                                                    <a href="#"><i class="icon-facebook facebook"></i></a><a href="#"><i class="icon-twitter twitter">
                                                    </i></a><a href="#"><i class="icon-linkedin linkedin"></i></a><a href="#"><i class="icon-google-plus google-plus">
                                                    </i></a><a href="#"><i class="icon-pinterest pinterest"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Subdirección Académica/ -->
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Ends -->
</div>

