@{
    ViewBag.Title = "Departamentos";
}
<div class="container">
    <h2>
        Subdirección de Servicios Administrativos</h2>
    <p class="big grey">
        Intituto Tecnol&oacute;gico de Chihuahua II.</p>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <!-- Resume starts -->
            <div class="resume">
                <div class="row">
                    <div class="col-md-12">
                        
                        <p style="font-weight: bolder">
                         Los departamentos adscritos de esta subdirección son los siguientes:
                        </p>
                        <br />
                        <ul>
                        <li><a href="@Url.Action("RecursosFinancieros","Departamentos")">Recursos Financieros</a></li>
                        <li><a href="@Url.Action("RecursosHumanos","Departamentos")">Recursos Humanos</a></li> 
                        <li><a href="@Url.Action("RecursosMaterialesYServicios","Departamentos")">Recursos Materiales y Servicios</a></li>
                        <li><a href="@Url.Action("CentroDeComputo","Departamentos")">Centro de C&oacute;mputo</a></li>
                        <li><a href="@Url.Action("MttoDeEquipo","Departamentos")">Mantenimiento de Equipo</a></li>
                        </ul>     
                        <br /><br />

                        <p style="font-weight: bolder">
                         Algunas de las actividades de esta Subdirección son las siguientes:
                        </p>
                        <br />    
                        <p>
                        Planea, organiza, dirige, controla y evalúa la administración de los recursos humanos, financieros, materiales y servicios generales del instituto tecnológico conforme a las normas y lineamientos emitidos por la Secretaría de Educación Pública.
                        </p>
                        <br />                         
                        <p>
                        Planea, organiza, dirige, controla y evalúa la prestación de servicios de computo, mantenimiento de equipo y pago de remuneraciones al personal, de conformidad con las normas y lineamientos establecidos.
                        </p>
                        <br />
                        <p>
                        Aplica la estructura orgánica autorizada para la Subdirección y verificar el cumplimiento de los procedimientos establecidos para la administración de recursos humanos, financieros, materiales, servicios generales y de computo, pago de remuneraciones y mantenimiento de equipo.
                        </p>
                        <br />
                        <p>
                        Dirige y controla la selección, contratación, desarrollo y pago de remuneraciones del personal del instituto tecnológico.
                        </p>                        
                        <br />
                        <p>
                        Dirige y controla el ejercicio del presupuesto, registros contables, tesorería, fiscalización y administración de los ingresos propios del instituto tecnológico.
                        </p>
                        <br />
                        <p>
                        Dirige y controla las adquisiciones, control de bienes muebles, almacenes y servicios generales del instituto tecnológico.
                        </p>
                        <br />
                        <p>
                        Coordina y supervisa el funcionamiento del Centro de Computo del instituto tecnológico.
                        </p>
                        <br />
                        <hr />
                        <!-- Resume -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Subdirección Académica/ -->
                                <div class="rblock">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4>
                                                Contacto</h4>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="rinfo">
                                                <h5>
                                                    Ing. Gerardo Ceniceros Reyes </h5>
                                                <div class="rmeta">
                                                    <h6>Subdirector de Servicios Administrativos</h6></div>
                                                <p>
                                                    La Subdirección de Servicios Administrativos se encuentra localizada en la planta alta del edificio administrativo
                                                    <br />
                                                    El acceso es por la Av. de las Industrias. <br />
                                                    Si desea comunicarse por teléfono, marque directamente: (01-614) 4-42-50-04.<br />
                                                    A través de conmutador: (01-614) 4-42-50-00 ext. 104</p>
                                                <!-- Social media icons -->
                                                <div class="social">
                                                    <a href="#"><i class="icon-facebook facebook"></i></a><a href="#"><i class="icon-twitter twitter">
                                                    </i></a><a href="#"><i class="icon-linkedin linkedin"></i></a><a href="#"><i class="icon-google-plus google-plus">
                                                    </i></a><a href="#"><i class="icon-pinterest pinterest"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Subdirección Académica/ -->
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Ends -->
</div>

