@{
    ViewBag.Title = "Departamentos";
}
<div class="container">
    <h2>
        Subdirección Acad&eacute;mica</h2>
    <p class="big grey">
        Intituto Tecnol&oacute;gico de Chihuahua II.</p>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <!-- Resume starts -->
            <div class="resume">
                <div class="row">
                    <div class="col-md-12">
                        
                        <p style="font-weight: bolder">
                         Los departamentos académicos aparecen en el mismo menú que esta subdirección.
                        </p>
                        <p style="font-weight: bolder">
                         Para su comodidad, el menú se duplica en esta sección:
                        </p>
                        <ul>
                        <li><a href="@Url.Action("CienciasBasicas","Departamentos")">Ciencias B&aacute;sicas</a></li>
                        <li><a href="@Url.Action("IngenieriaIndustrial","Departamentos")">Ingenier&iacute;a Industrial</a></li>
                        <li><a href="@Url.Action("SistemasComputacionales","Departamentos")">Sistemas y Computaci&oacute;n</a></li>
                        <li><a href="@Url.Action("CienciasEconomicoAdministrativas","Departamentos")">Ciencias Econ&oacute;mico Administrativas </a></li>
                        <li><a href="@Url.Action("CienciasTierra","Departamentos")">Ciencias de la Tierra </a></li>
                        <li><a href="@Url.Action("DivisionEstudiosProfesionales","Departamentos")">Divisi&oacute;n de Estudios Profesionales</a></li>
                        <li><a href="@Url.Action("DesarrolloAcademico","Departamentos")">Desarrollo Acad&eacute;mico</a></li>
                        </ul>
                        <br /><br />

                        <p style="font-weight: bolder">
                         Entre las actividades que más impactan en los alumnos, esta Subdirección tiene las siguientes:
                        </p>
                        <br />    
                        <p>
                         Planea, organiza, dirige, controla y evalua de acuerdo con las normas y lineamientos establecidos las actividades de docencia, investigación 
                         y vinculación del instituto tecnológico.
                        </p>
                        <br />                         
                        <p>
                         Verificar el cumplimiento de los procedimientos establecidos para el desarrollo de las actividades de docencia, investigación y vinculación 
                         del instituto tecnológico.
                        </p>
                        <br />
                        <p>
                        Dirige y controla la aplicación de los planes y programas de estudio de las carreras que se impartan en el instituto tecnológico, 
                        así como de los apoyos didácticos y las técnicas e instrumentos para la evaluación del aprendizaje de acuerdo con las normas y 
                        lineamientos establecidos.
                        </p>
                        <br />
                        <p>
                        Dirige y controla el desarrollo de los programas y proyectos de investigación educativa, científica y tecnológica que se llevan a cabo en el instituto 
                        tecnológico de conformidad con las normas y lineamientos establecidos.
                        </p>                        
                        <br />
                        <p>
                        Promueve y dirige el desarrollo de los programas de superación y actualización del personal docente que se realizan en el instituto tecnológico 
                        de acuerdo a los lineamentos establecidos.
                        </p>
                        <br />
                        <p>
                        Dirige, controla y desarrolla proyectos de producción académica relacionados con la vinculación del instituto tecnológico con el sector productivo 
                        de bienes y servicios de la región.
                        </p>
                        <br />
                        <p>
                        Dirige y controla el proceso de titulación de los egresados del instituto.
                        </p>
                        <br />
                        <hr />
                        <!-- Resume -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Subdirección Académica/ -->
                                <div class="rblock">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4>
                                                Contacto</h4>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="rinfo">
                                                <h5>
                                                    Arq. Armando Serrano Salomón</h5>
                                                <div class="rmeta">
                                                    <h6>Subdirector Académico</h6></div>
                                                <p>
                                                    La Subdirección Académica se encuentra localizada en la planta alta del edificio administrativo
                                                    <br />
                                                    El acceso es por la Av. de las Industrias. <br />
                                                    Si desea comunicarse por teléfono, marque directamente: (01-614) 4-42-50-18.<br />
                                                    A través de conmutador: (01-614) 4-42-50-00 ext. 118</p>
                                                <!-- Social media icons -->
                                                <div class="social">
                                                    <a href="#"><i class="icon-facebook facebook"></i></a><a href="#"><i class="icon-twitter twitter">
                                                    </i></a><a href="#"><i class="icon-linkedin linkedin"></i></a><a href="#"><i class="icon-google-plus google-plus">
                                                    </i></a><a href="#"><i class="icon-pinterest pinterest"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Subdirección Académica/ -->
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Ends -->
</div>
