<div class="row">
    <div class="col-md-12">
        <div class="bor">
        </div>
        <ul class="hover-block">

            <!-- Aspirantes/ -->
            <li>
                <a href="@Url.Action("Index","Aspirantes")">
                    <img src="@Url.Content("~/img/photos/aspirante.jpg")" alt="" />
                    <div class="hover-content b-gray">
                        <h6>
                            Aspirantes
                        </h6>
                        ¿Estás a punto de entrar a la universidad y no sabes qué carrera estudiar? ¡El ITChII,
                        tiene excelentes oportunidades para ti!
                    </div>
                </a>
            </li>
            <!-- /Aspirantes -->
            <!-- Alumnos/ -->
            <li>
                <a href="@Url.Action("Index","Alumnos")">
                    <img src="@Url.Content("img/photos/alumno.jpg")" alt="" />
                    <div class="hover-content b-gray">
                        <h6>
                            Alumnos
                        </h6>
                        Bisonte aqu&iacute; puedes encontrar informaci&oacute;n de tu interes.
                    </div>
                </a>
            </li>
            <!-- /Alumnos -->
            <!-- Egresados/ -->
            <li>
                <a href="@Url.Action("Index","Egresados")">
                    <img src="@Url.Content("img/photos/egresado.jpg")" alt="" />
                    <div class="hover-content b-gray">
                        <h6>
                            Egresados
                        </h6>
                        Ex Alumno, porqu&eacute; nos interesas este es un espacio para que sigas en contacto
                        con nosotros.
                    </div>
                </a>
            </li>
            <!-- /Egresados -->            
            <!-- Docentes/ -->
            <li>
                <a href="@Url.Action("Index","Docentes")">
                    <img src="@Url.Content("img/photos/docente.jpg")" alt="" />
                    <div class="hover-content b-gray">
                        <h6>
                            Docentes
                        </h6>
                        Docente del mejor Tecnol&oacute;gico del pais, aqu&iacute; hay informaci&oacute;n
                        de tu interes.
                    </div>
                </a>
            </li>
            <!-- /Docentes -->
        </ul>
        <div class="clearfix">
        </div>
    </div>
</div>
