@using System.Configuration;
@{
    ITCH2_1.Models.Entities db = new ITCH2_1.Models.Entities();

    var paginas = db
                .Categories.FirstOrDefault(categoria => categoria.category_name == "Portada")
                .Pages.Where(pagina => pagina.page_visible == true)
                .OrderByDescending(pag => pag.page_date)
                .Take(5);
}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div id="da-slider" class="da-slider">

                @foreach (var pagina in paginas)
                {
                <!-- Noticia/ -->
                <a href="@Url.Action(ViewBag.ServidorImagenes + pagina.page_image, new { id = pagina.page_id })">
                    <div class="da-slide" style="background-image: url(@(ViewBag.ServidorImagenes + pagina.page_image))">
                    
                        <div class="da-box autosize outerDiv da-l">
                            @**@
                            <div class="da-info">
                                <a href="@Url.Action("Publicacion", "Contenido", new { id = pagina.page_id })">
                                    <h2>@pagina.page_title.ToString().Substring(0, pagina.page_title.ToString().Count() >= 45 ? 45 : pagina.page_title.ToString().Count())</h2>
                                    <p>@pagina.page_description.ToString().Substring(0, pagina.page_description.ToString().Count() >= 110 ? 110 : pagina.page_description.ToString().Count())</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- /Noticia-->
                }

                <nav class="da-arrows">
                    <span class="da-arrows-prev"></span>
                    <span class="da-arrows-next"></span>
                </nav>
            </div>

        </div>
    </div>
</div>