
<!-- Slider/ -->
@Html.Partial("~/Views/Home/_Slider.cshtml")
<!-- /Slider -->


<div class="container">

    <!-- Mensaje ITCH 2/ -->
    <div class="row center">
        <div class="col-md-12">
            <div class="bor">
            </div>
            <h2>
                Bienvenidos al sitio oficial del ITCH2
            </h2>
            <p>
                Ense&ntilde;ar para producir... producir para crecer.
            </p>
            <div class="bor">
            </div>
            <hr />
        </div>
    </div>
    <!-- /Mensaje ITCH 2 -->
    <!-- Secciones/ -->
    @Html.Partial("_Secciones")
    <!-- /Secciones -->

    <div class="bor">
    </div>
    <hr />

    <!-- Avisos/ -->
    @Html.Partial("_Avisos")
    <!-- /Avisos -->

    <hr />
    <div class="bor">
    </div>

    <!-- Noticias/ -->
    @Html.Partial("_Noticias")
    <!-- /Noticias -->

    <hr />

    <!-- Servicios/ -->
    @Html.Partial("_Servicios")
    <!-- /Servicios -->
</div>
