@{
    ITCH2_1.Models.Entities db = new ITCH2_1.Models.Entities();
    var paginas = db
            .Categories.FirstOrDefault(categoria => categoria.category_name == "Aspirantes")
            .Pages.Where(pagina => pagina.page_visible == true)
            .OrderByDescending(pag => pag.page_date)
            .Take(2);
}



<div class="testimonial">
    <div class="row">
        <div class="center">
            <h3>Noticias</h3>
            <p class="big grey">
                Ultimas noticias para aspirantes (<span class="color"><a href="@Url.Action("Categoria", "Contenido", new { id = 2 })">ver m&aacute;s</a></span>).
            </p>
        </div>
        @foreach (var noticia in paginas)
        {
            <div class="col-md-6">
                <blockquote>
                    <span class="color"><a href="@Url.Action("Publicacion", "Contenido", new { id = noticia.page_id })">@noticia.page_title</a></span>
                    <p>
                        @noticia.page_description
                    </p>
                    <small>@noticia.UserProfiles.PublicUserName - <span class="color">@noticia.page_date</span></small>
                </blockquote>
            </div>
        }


    </div>
</div>