<header>
    <div class="container">

        <!-- Navegacion alternativa/ -->
        <div class="row">
            <div class=" col-md-offset-1 col-md-8 text-right alternativeNav">
                <a href="@Url.Action("Index","Home")">INICIO</a> | 
                <a href="@Url.Action("Index","UsoDelSitio")">USO DE ESTE SITIO</a> | 
                <a href="http://www.itchihuahuaii.edu.mx:81">SITIO WEB ANTERIOR</a> | 
                <a href="http://www.snit.mx/informacion/institutos-tecnologicos-de-mexico">OTROS TECNOL&Oacute;GICOS</a> 
                
                <!--<a href="@Url.Action("Index","Contacto")">CONTACTO</a>-->
               
                
            </div>
            <div class="col-md-3">
                <form action="@Url.Action("Busqueda", "Contenido" )" method="get" class="search-form" id="search-form">
                    <input type="text" name="id" placeholder="Buscar" title="Ingresa tu búsqueda">
                    <button type="submit">Buscar</button>
                </form>
            </div>
        </div>
        <!-- /Navegacion alternativa -->

        <div class="row">
            <!-- Logo SEP/ -->
            <div class="col-md-4 col-sm-2 hidden-xs hidden-sm">
                <div class="logo">
                    <img src="@Url.Content("~/img/logos/logoSEP_hoz.png")" width="286"  />
                    <div class="hmeta">&nbsp;</div>
                </div>
            </div>
            <!-- /Logo SEP -->

            <!-- Nombre Tec2/ -->
            <!-- Se agregó Tecnológico Nacional de México 140908-->
            <div class="col-md-6 col-sm-12 text-center">              
              <h1 id="NombreTec"><a href="http://www.snit.mx">TECNOL&Oacute;GICO NACIONAL DE M&Eacute;XICO</a></h1>              
              <h1 id="NombreTec"><a href="@Url.Action("Index", "Home")">Instituto Tecnol&oacute;gico de Chihuahua II</a></h1>
            </div>
            <!-- /Nombre Tec2 -->

            <!-- Logo Tec2/ -->
            <div class="col-md-2 col-sm-2 text-center hidden-xs hidden-sm">
                <div class="logosTEC">
                    <a href="@Url.Action("Index","Home")">
                        <img src="@Url.Content("~/img/logos/logoITCH2.jpg")" height="80" style="padding-left:10px;" />
                    </a>
                    <div class="hmeta">&nbsp;</div>
                </div>
            </div>
            <!-- //Logo Tec2-->
        </div>
    </div>
</header>
