<div class="container">
    <div class="navbar bs-docs-nav " role="banner">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                    class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <nav id="navbar" class="collapse navbar-collapse bs-navbar-collapse " role="navigation">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">INFORMACI&Oacute;N&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Index","Aspirantes")">Aspirantes</a></li>
                    <li><a href="@Url.Action("Index","Alumnos")">Alumnos</a></li>
                    <li><a href="@Url.Action("Index","Docentes")">Personal del ITCHII</a></li>
                    <li><a href="@Url.Action("Index","Egresados")">Egresados</a></li>
                    </ul>
                </li>          
               
               <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">CARRERAS y POSGRADOS&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    <li><a href="@Url.Action("II", "Carreras")">Ing. Industrial</a></li>
                    <li><a href="@Url.Action("ISC", "Carreras")">Ing. Sistemas Computacionales</a></li>
                    <li><a href="@Url.Action("IINF", "Carreras")">Ing. Inform&aacute;tica</a></li>                    
                    <li><a href="@Url.Action("LA", "Carreras")">Lic. en Administraci&oacute;n</a></li>
                    <li><a href="@Url.Action("IGE", "Carreras")">Ing. en Gesti&oacute;n Empresarial</a></li>                          
                    <li><a href="@Url.Action("ARQ", "Carreras")">Arquitectura</a></li>
                    <li><a href="@Url.Action("MISC", "Carreras")">Maestría en Sistemas Computacionales</a></li>
                    <li><a href="@Url.Action("MII", "Carreras")">Maestría en Ingeniería Industrial</a></li>
                    </ul>
                </li>

                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">DEPARTAMENTOS&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    <!--Subdirección Académica -->
                    <li><a href="@Url.Action("CienciasBasicas","Departamentos")">Ciencias B&aacute;sicas</a></li>
                    <li><a href="@Url.Action("IngenieriaIndustrial","Departamentos")">Ingenier&iacute;a Industrial</a></li>
                    <li><a href="@Url.Action("SistemasComputacionales","Departamentos")">Sistemas y Computaci&oacute;n</a></li>
                    <li><a href="@Url.Action("CienciasEconomicoAdministrativas","Departamentos")">Ciencias Econ&oacute;mico Administrativas </a></li>
                    <li><a href="@Url.Action("CienciasTierra","Departamentos")">Ciencias de la Tierra </a></li>
                    <li><a href="@Url.Action("DivisionEstudiosProfesionales","Departamentos")">Divisi&oacute;n de Estudios Profesionales</a></li>
                    <li><a href="@Url.Action("DesarrolloAcademico","Departamentos")">Desarrollo Acad&eacute;mico</a></li>
                    <!--Subdirección de Planeación y Vinculación -->
                    <li><a href="@Url.Action("ServiciosEscolares","Departamentos")">Servicios Escolares</a></li>
                    <li><a href="@Url.Action("ActividadesExtraescolares","Departamentos")">Actividades Extraescolares</a></li>
                    <li><a href="@Url.Action("CentroInformacion","Departamentos")">Centro de Informaci&oacute;n</a></li>
                    <li><a href="@Url.Action("ComunicacionYDifusion","Departamentos")">Comunicaci&oacute;n y Difusi&oacute;n</a></li>
                    <li><a href="@Url.Action("GestionTecnologicaVinculacion","Departamentos")">Gesti&oacute;n Tecnol&oacute;gica y Vinculaci&oacute;n</a></li>
                    <li><a href="@Url.Action("PlaneacionProgramYPresup","Departamentos")">Planeaci&oacute;n Programaci&oacute;n y Presupuestaci&oacute;n</a></li>
                    <!--Subdirección de Servicios Administrativos -->
                    <li><a href="@Url.Action("RecursosFinancieros","Departamentos")">Recursos Financieros</a></li>
                    <li><a href="@Url.Action("RecursosHumanos","Departamentos")">Recursos Humanos</a></li> 
                    <li><a href="@Url.Action("RecursosMaterialesYServicios","Departamentos")">Recursos Materiales y Servicios</a></li>
                    <li><a href="@Url.Action("CentroDeComputo","Departamentos")">Centro de C&oacute;mputo</a></li>
                    </ul>
                </li>   
                         
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">SERVICIOS&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    <li><a href="https://www.facebook.com/ingles.tecii?fref=ts">Cursos de Ingles</a></li>
                    <li><a href="https://www.dropbox.com/sh/8eb1wb07qqb1mw4/AAD1Z_qx_RbahAoXXkSG6gpma/EPEX/EPEX.pdf">Residencias EPEX</a></li>
                    <li><a href="#">Incubadora de Empresas</a></li>
                    <li><a href="http://sii.itchihuahuaii.edu.mx/">Sist. Integral de Informaci&oacute;n (SII)</a></li>
                    <li><a href="http://moodle.itch2.org/">Moodle Interno</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">ACERCA DE&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Index", "AcercaDe")">Historia</a></li>
                    <li><a href="@Url.Action("MisionVision", "AcercaDe")">Misi&oacute;n y Visi&oacute;n</a></li>
                    <li><a href="@Url.Action("Logotipo", "AcercaDe")">Logotipo</a></li>
                    </ul>
                </li>

                <li><a href="@Url.Action("Index", "Contacto")">CONTACTO</a></li>
            </ul>
        </nav>
    </div>
</div>
