@model ITCH2_1.Models.Pages
@{
    ViewBag.Title = Model.page_title;
}

<div class="container">
    <h2>
        @Model.page_title
    </h2>
    <p class="big grey">
        <div class="meta">
            <i class="icon-calendar"></i> @Model.page_date
            <i class="icon-user"></i> @Model.UserProfiles.PublicUserName
            <i class="icon-folder-open"></i>
            @foreach (var item in Model.Categories)
            { <a style="text-decoration: none;" href="@Url.Action("Categoria", "Contenido", new { id = item.category_id })">@item.category_name</a> }

        </div>
    </p>
    <hr />
    <!-- Blog starts -->
    <div class="blog">
        <div class="row">
            <div class="col-md-12">
                <!-- Blog Posts -->
                <div class="row">
                    <div class="col-md-8 col-sm-8">
                        <!-- Publicacion/ -->
                        <div class="posts">
                            <p class="big grey">
                                @Model.page_description
                            </p>
                            <div class="entry">
                                @Html.Raw(Model.page_content)
                            </div>
                            <div class="post-foot well">
                                <!-- Social media icons -->
                                <div class="social">
                                    <h6>
                                        Comparte esta noticia:
                                    </h6>
                                    <!-- AddThis Plugin/ -->
                                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                                        <a class="addthis_button_preferred_1"></a>
                                        <a class="addthis_button_preferred_2"></a>
                                        <a class="addthis_button_preferred_3"></a>
                                        <a class="addthis_button_preferred_4"></a>
                                        <a class="addthis_button_compact"></a>
                                        <a class="addthis_counter addthis_bubble_style"></a>
                                    </div>
                                    <script type="text/javascript">var addthis_config = { "data_track_addressbar": true };</script>
                                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5318c5051c2ae584"></script>
                                    <!-- /AddThis Plugin -->
                                </div>
                            </div>
                            <div class="clearfix">
                            </div>
                        </div>
                        <!-- /Publicacion -->
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <!-- Sidebar/ -->
                        <div class="sidebar">
                            <!-- Widget/ -->
                            <div class="widget">
                                <h4>
                                    Busqueda
                                </h4>
                                <form class="form-inline">
                                    <div class="form-group">
                                        <input type="text" value="" name="s" id="s" class="form-control" />
                                    </div>
                                    <button type="submit" class="btn btn-default">
                                        Buscar
                                    </button>
                                </form>
                            </div>
                            <!-- /Widget -->
                            <!-- Publicaciones recientes/ -->
                            @Html.Partial("_PublicacionRecientes")
                            <!-- /Publicaciones recientes -->
                            <!-- Categorias/ -->
                            @Html.Partial("_PublicacionCategorias")
                            <!-- /Categorias -->

                        </div>
                        <!-- /Sidebar -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
